<mdb-navbar SideClass="navbar navbar-header navbar-expand-lg fixed-top navbar-dark bg-primary">
  <!-- Navbar brand -->
  <mdb-navbar-brand>
        <div class="navbar-brand">
            <img src="../../assets/images/logo-light.png" style="height: 30px;">
        </div >
        <div [hidden]="!nav.visible" class="navbar-brand">
            <strong>Peer Review System</strong>
        </div>
    </mdb-navbar-brand>
  <div [hidden]="!nav.visible" class="navbar-nav ml-auto">
    <div class="nav-item my-0">
      <a routerLink="" class="nav-link waves-light" mdbWavesEffect>Home</a>
    </div>
  </div>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <!-- Links -->
    <!-- Search form -->

    <!-- Navbar brand -->
    

    <div [hidden]="!nav.visible" class="navbar-nav ml-auto">
      <div class="nav-item my-0">
        <span class="nav-link disabled">Profile</span>
      </div>
    </div>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
