<style>
  .content {
    max-width: 500px;
    margin: auto;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>

<body>
  <div class="content" style="margin-top:80px">
    <form action="/home">
      Project Name	:
      <input type="text" name="project name">
      <br><br>
      Client Name	:
      <input type="text" name="client name">
      <br><br>
      Team Member	:
      <input type="text" name="Team Member">
      <br><br>
      <input type="submit" value="Save Changes">
      <input type="submit" value="Cancel">
      <input type="submit" value="Delete">
    </form>
  </div>
</body>
